.tetrahedron_wrapper {
  position: relative;
  width: 30rem;
  height: 207.8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tetrahedron {
  position: relative;
  width: 240px;
  height: 207.8px;
  transform-style: preserve-3d;

  transform: rotateX(10deg) rotateY(30deg);
}

.face {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 207.8px;

  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

  background: linear-gradient(
    180deg,
    rgba(0, 255, 255, 0.2) 0%,
    rgba(0, 150, 255, 0.1) 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  color: rgba(200, 255, 255, 1);
  font-size: 40px;
  font-weight: bold;
  user-select: none;
}

.face:nth-child(2) {
  /* 前 */
  transform: rotateY(0deg) translateZ(49px) rotateX(19.5deg);
}
.face:nth-child(3) {
  /* 右后 */
  transform: rotateY(120deg) translateZ(49px) rotateX(19.5deg);
}
.face:nth-child(4) {
  /* 左后 */
  transform: rotateY(240deg) translateZ(49px) rotateX(19.5deg);
}
.face:nth-child(5) {
  /* 底面 */
  transform: rotateX(90deg) translateZ(-99px) translateX(-10px)
    translateY(-10px);
  background: rgba(0, 200, 255, 0.15);
  box-shadow: 0 0 50px rgba(0, 255, 255, 0.4);
}
