/* 面板容器 */
.panel_container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: top;
  justify-items: center;

  width: 100%;
  margin-top: 2rem;
}

/* 面板 */
.panel {
  width: 80%;
  transition: opacity 0.5s ease, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1),
    visibility 0.5s;
}

/* 标题 */
.header {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #d4af37;
  text-align: center;
  text-shadow: 0 0 0.4rem rgba(212, 175, 55, 0.6);
}
