#business_card {
  position: relative;
  padding: 20px;
  margin: auto;
  border-radius: 20px;
  color: white;
  text-align: center;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  background-size: 400% 400%;
  animation: gradientFlow 12s ease infinite;

  border: 4px solid transparent;
  background-clip: padding-box;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#business_card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #ccc;
}

#business_card .subtitle {
  margin: 0;
  font-size: 0.7rem;
  color: #fff;
}

#business_card a {
  margin-right: 15px;
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
}