/* 侧边栏 */
.magic_sidebar {
  left: 2rem;
  bottom: 2rem;

  border: 1px solid rgba(197, 160, 101, 0.15);
  padding: 1rem 0.6rem;
  border-radius: 50px;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  position: fixed;

  background: rgba(196, 166, 136, 0.7);
  backdrop-filter: blur(8px);

  box-shadow: 0 10px 30px rgba(126, 122, 122, 0.5);

  z-index: 1000;
}

/* 能量线 */
.energy_line {
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 50%;
  width: 1px;
  background: linear-gradient(to bottom, transparent, #c5a065, transparent);
  opacity: 0.3;
  transform: translateX(-50%);
  z-index: -1;
  pointer-events: none;
}

/* 节点按钮 */
.sidebar_node {
  position: relative;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* 图标 */
.icon_slot {
  width: 3rem; 
  height: 3rem; 
  border-radius: 50%;

  background: #cca884; 
  border: 1px solid #7e7979; 

  display: flex;
  align-items: center;
  justify-content: center;

  color: #666; 
  transition: all 0.4s ease;
  position: relative;
  z-index: 2;
}

/* 图标 */
.icon_slot img,
.icon_slot svg {
  width: 60%; 
  height: 60%;
  object-fit: contain;
  transition: transform 0.3s;
}

.sidebar_node:hover .icon_slot,
.sidebar_node.active .icon_slot {
  border-color: #c5a065; 
  color: #c5a065; 
  box-shadow: 0 0 15px rgba(197, 160, 101, 0.4),
    inset 0 0 10px rgba(0, 0, 0, 0.8);
  transform: scale(1.1); 
}

.sidebar_node:hover .icon_slot img,
.sidebar_node:hover .icon_slot svg {
  transform: scale(1.1);
  filter: drop-shadow(0 0 2px #c5a065);
}

/* 回到顶部按钮 */
.to_top .icon_slot {
  border-color: rgba(255, 255, 255, 0.2);
}
.to_top:hover .icon_slot {
  border-color: #fff;
  color: #fff;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

/* 悬浮文字 */
.ancient_tooltip {
  left: 3.8rem;
  top: 50%;

  padding: 0.4rem 0.8rem;
  border: 1px solid #c5a065;

  position: absolute;
  transform: translateY(-50%) translateX(-10px);

  background: rgba(18, 16, 14, 0.95);

  font-family: "Cinzel", serif;
  font-size: 0.75rem;
  letter-spacing: 1px;
  color: #e0d0b0;
  white-space: nowrap;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease;

  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 5% 50%);
  padding-left: 1rem;
}

/* 悬停显示 */
.sidebar_node:hover .ancient_tooltip {
  opacity: 1;
  visibility: visible;
  transform: translateY(-50%) translateX(0);
}
