html {
  font-size: 16px; /* rem 单位基准 */
}

body {
  font-family: "Georgia"; /* 衬线体字体 */

  margin: 0;
  padding: 0;

  color: #333333;
  background-color: #0b0c15;
  background-image: radial-gradient(circle at 50% 30%, #1f213a 0%, #0b0c15 60%);

  line-height: 1.6;
  letter-spacing: 0.015rem;
}
